@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

html {
    font-size: 16px;
}

button {
    padding: 0.3rem;
    border: none;
    cursor: pointer;
}

li { list-style-type: none; }

h1, h2, h3, h4, h5, h6 { padding: 0; margin: 0; }

.wrapper {
    padding: 0 2rem;
}

.workspace {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

.todo {
    width: 30%;
    display: flex;
    gap: 1rem;
}

.cards {
    width: 100%;
    margin: 0;
    padding: 1rem;
}

.card {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #90b5f0;
    /* background-color: #db483d; */
}

.card + .card {
    margin-top: 2rem;
}

.card-add {
}

.button-add {
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
}

.button-add:hover {
    background-color: #90b544;
}

.button-add svg {
    height: 1.5rem;
    width: 1.5rem;
}

.heading {
    text-transform: initial;
    font-size: 1.5rem;
    font-weight: 500;
}
.text {
    font-size: 1rem;
    text-transform: initial;
}
.buttons {
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: self-start;
    gap: 0.2rem;
}
.button-delete, .button-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: 0.2s;
}

.button-delete svg, .button-edit svg {
    height: 10px;
    width: 10px;
}

.button-delete:hover { background-color: #db483d; }
.button-edit:hover { background-color: #dde06c }

.card-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card-input__input, .card-input__textarea, .button-create {
    padding: 1rem;
    border-radius: 0.75rem;
}

.card-input__input {

}

.card-input__textarea {
    resize: none;
}

.button-create {
    background-color: #ffffff;
    transition: 0.2s;
}

.button-create:hover {
    background-color: #90b544;
}
